
.project-panel {
    padding: 2em;
    height: 50vh;
    border-radius: 0 0 0 1em;
    border: 4px solid white;
    border-right: #111;
    border-top: #111;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: wrap;
    flex-wrap: wrap;
    width: 80vw;
    font-size: 1.3em;
    z-index: 1;
}

.project-picture {
    z-index: 0;
    height: 17em;
    width: 25em;
    border-radius: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.project-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.project-inner * {
    margin: 1em;
}

.olivejs {
    background-image: url('../../assets/olivejs.png');
}

.hexys {
    background-image: url('../../assets/hexys-main.png');
}

.matchjs {
    background-image: url('../../assets/matchjs.png');
}

.c-gen {
    background-image: url('../../assets/c-gen-main.png');
}